.tableWrapper :global .ant-table th {
  background: #fff !important;
}

.tableWrapper :global .ant-table-cell::before {
  content: none !important;
}

.tableWrapper {
  padding: 24px;
}

.tableWrapper :global .ant-table-cell {
  padding-left: 4px !important;
  color: #11141A !important;
  font-weight: 500 !important;
}

.tableWrapper :global .ant-table-thead .ant-table-cell {
  color: #11141A99 !important;
  font-weight: 400 !important;
}

.tableWrapper :global .ant-table-selection-column {
  padding-left: 24px !important;
}

.tableWrapper {
  padding: 16px;
  background-color: #fff;
}


.tableWrapper :global .ant-table-container {
  border: 1px solid #DCDFE1;
  border-radius: 12px;
  overflow: hidden;
}

.tableWrapper :global .ant-checkbox-inner {
  background-color: #F0F3F5;
  border: none !important;
  width: 24px;
  height: 24px;
}

.tableWrapper :global .ant-checkbox-checked .ant-checkbox-inner {
  background-color: black;
  border: none !important;
}

.tableWrapper :global .ant-checkbox-inner::after {
  width: 7.1px !important;
  height: 12px !important;
}

.tableWrapper :global .ant-table-row .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper :global .ant-table-selection:hover .ant-checkbox-inner {
  background-color: black !important;
  border: none !important;
}

.tableWrapper :global .ant-table-selection .ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner::after {
  background-color: transparent;
}

.tableWrapper :global .ant-checkbox-indeterminate::after {
  background-color: transparent;
}

.tableWrapper :global .ant-checkbox-wrapper .ant-checkbox-indeterminate {
  background-color: #F0F3F5 !important;
}

.tableWrapper {
  width: 100%;
}

.activeStatus {
  color: #2BE437;
  font-size: 14px;
  font-weight: 500;
}

.inactiveStatus {
  color: #FF0003;
  font-size: 14px;
  font-weight: 500;
}

.greenDot, .redDot {
  display: inline-block;
  align-self: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.greenDot {
  background-color: #2BE437;
}

.redDot {
  background-color: #FF0003;
}

.status {
  position: relative;
  bottom: 1px;
}

.dotsWrapper {
  border-radius: 4px;
  border: 1px solid #DCDFE1;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}